*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

main {
  min-height: 200vh;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

body {
  position: relative;
  width: 100%;
  overflow: hidden scroll;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--text-font);
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
  font-family: var(--title-font);
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
  line-height: inherit;
  margin: 0;
  font-family: var(--title-font);
}

p {
  line-height: 1.6em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: var(--title-font);
  line-height: 1.1em;
}

*,
*:before,
*:after {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  word-break: break-word;
}
