*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

main {
  min-height: 200vh;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

body {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 14px
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
  line-height: inherit;
  margin: 0;
}


::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
  width: 9px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

body {
  font-weight: 400;
}

p {
  line-height: 1.6em;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;

}

*,
*:before,
*:after {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  word-break: break-word;
}


h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.1em;
}
