:root{
    --container-width: 1400px;

    --primary-color: #FFFFFF;
    --secondary-color: #F0F4FF;
    --accent-color: #4A90E2;
  
    --text-primary: #333333;
    --text-primary-hover: #000000;
    --text-primary-disabled: #A0A0A0;
    --text-primary-inverted: #F0F0F0;
    --text-primary-inverted-hover: #FFFFFF;
    --text-primary-inverted-disabled: #C0C0C0;
  
    --text-secondary: #777777;
    --text-secondary-hover: #888888;
    --text-secondary-disabled: #D9D9D9;
    --text-secondary-inverted: #F0F4FF;
    --text-secondary-inverted-hover: #E0E0E0;
    --text-secondary-inverted-disabled: #B0B0B0;

    --icon: #333333;
    --icon-primary: #4A90E2;
    --icon-primary-hover: #357ABD;
  
    --border-color: #D9D9D9;
    --box-shadow: rgba(0, 0, 0, 0.15);
  
    --button-color: #4A90E2;
    --button-color-hover: #357ABD;
    --button-color-active: #2B6DA8;
    --button-color-disable: #B0C4DE;
    --button-color-inverted: #FFFFFF;
    --button-color-inverted-hover: #E1E7FF;
    --button-color-inverted-active: #C6D3FF;
    --button-color-inverted-disable: #D6D7E2;
  
    --link-color: #4A90E2;
    --link-color-hover: #357ABD;
    --link-color-active: #2B6DA8;
    --link-color-disable: #B0C4DE;
    --link-color-inverted: #FFFFFF;
    --link-color-inverted-hover: #E1E7FF;
    --link-color-inverted-active: #C6D3FF;
    --link-color-inverted-disable: #D6D7E2;
  
    --warning-color: #FFA500;
    --success-color: #28A745;
    --error-color: #DC3545;
}

[data-theme='dark'] {
  --primary-color: #121212;
  --secondary-color: #1E1E1E;
  --accent-color: #FF6F61;

  --text-primary: #EAEAEA;
  --text-primary-hover: #FFFFFF;
  --text-primary-disabled: #d1d1d1;
  --text-primary-inverted: #121212;
  --text-primary-inverted-hover: #000000;
  --text-primary-inverted-disabled: #525252;

  --text-secondary: #D1D1D1;
  --text-secondary-hover: #EAEAEA;
  --text-secondary-disabled: #A0A0A0;
  --text-secondary-inverted: #1E1E1E;
  --text-secondary-inverted-hover: #F5F5F5;
  --text-secondary-inverted-disabled: #A0A0A0;

  --icon: #ffffff;
  --icon-primary: #eb6f64;
  --icon-primary-hover: #ec5e51;
  --icon-primary-inverted: #121212;

  --border-color: #333333;
  --box-shadow: rgba(0, 0, 0, 0.3);

  --button-color: #eb6f64;
  --button-color-hover: #ec5e51;
  --button-color-active: #eb4646;
  --button-color-disable: #e0a6a6;
  --button-color-inverted: #000000;
  --button-color-inverted-hover: #312828;
  --button-color-inverted-active: #442d2d;
  --button-color-inverted-disable: #2e2b2b;

  --link-color: #eb6f64;
  --link-color-hover: #ec5e51;
  --link-color-active: #eb4646;
  --link-color-disable: #e0a6a6;
  --link-color-inverted: #000000;
  --link-color-inverted-hover: #312828;
  --link-color-inverted-active: #442d2d;
  --link-color-inverted-disable: #2e2b2b;

  --warning-color: #FF9800;
  --success-color: #4CAF50;
  --error-color: #F44336;
}