.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
  border: none;
  font-family: var(--title-font);
  font-weight: 600;
  letter-spacing: -.1px;
  font-size: 16px;
  background-color: var(--button-color);
  color: var(--text-primary-inverted);
  &:disabled{
    cursor: default;
  }
}

.primary,
.secondary {
  padding: 8px 13px;
  border-radius: 12px;
}

.primary {
  background-color: var(--button-color);
  color: var(--text-primary-inverted);

  &:hover {
    background-color: var(--button-color-hover);
    color: var(--text-primary-inverted-hover);
  }

  &:active {
    background-color: var(--button-color-active);
    color: var(--text-primary-inverted-hover);
  }

  &:disabled {
    background-color: var(--button-color-disable);
    color: var(--text-primary-inverted);
  }
}

.secondary {
  background-color: var(--button-color-inverted);
  color: var(--text-primary);

  &:hover {
    background-color: var(--button-color-inverted-hover);
    color: var(--text-primary-hover);
  }

  &:active {
    background-color: var(--button-color-inverted-active);
    color: var(--text-primary-hover);
  }

  &:disabled {
    background-color: var(--button-color-inverted-disable);
    color: var(--text-primary);
  }
}

.clear {
  background-color: transparent;
  margin: 0;
  padding: 0;
  &:disabled {
    color: var(--text-primary-disabled);
  }
}
